button {
    width: 100px;
    height: 50px;
    background-color: white;
    border: 2px solid rgb(9, 83, 34);
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
}

.todos {
   display: flex;
   justify-content: space-around;
   flex-direction: column;
   height: 400px;

}

.buttons {
    display: flex;
    justify-content: space-around;
}

